@import "assets/scss/utils/mixins";
@import "assets/scss/utils/variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: 100;

    &__container {
        display: flex;
        align-items: center;
        height: 3.5rem;
        justify-content: space-between;
    }

    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    &__logo {
        color: $title-color;
        font-weight: 500;
        display: none;
    }
    &__search {
        display: flex;
        padding: 0.4rem 0.75rem;
        background-color: $title-color;
        border-radius: 0.25rem;
    }
    &__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: $secondary-color;

        &::placeholder {
            color: $text-color;
        }
    }
    &__icon,
    &__toggle {
        font-size: 1.2rem;
    }
    &__toggle {
        color: $title-color;
        cursor: pointer;
    }

    @include sm {
        padding: 0 3rem 0 6rem;

        &__container {
            height: calc(4rem);
        }
        &__search {
            width: 300px;
            padding: 0.55rem 0.75rem;
        }
        &__toggle {
            display: none;
        }
        &__logo {
            display: block;
        }
        &__img {
            width: 40px;
            height: 40px;
            order: 1;
        }
    }
}
