$font-primary: 'Nunito', sans-serif;

// colors
$primary-color:#0891b2;
$secondary-color: #22d3ee;

$title-color: #19181b;
$text-color: #58555e;
$text-color-light: #a5a1aa;

$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$grey-dark-1: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;
$grey-dark-4: #dae4e9;

$white: #fff;
$black: #000;

// fonts sizes
$normal-font: 14px;
$small-font: 12px;
$smaller-font: 10px;

// breakpoints
$xs: 560px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1520px;

// utils
$space1: 1rem;
$space2: 2rem;
$space3: 3rem;
$space4: 4rem;
$space5: 5rem;