@import "assets/scss/utils/mixins";
@import "assets/scss/utils/variables";

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 0;
    background-color: $white;
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    z-index: 100;
    transition: 0.4s;

    @include sm {
        left: 0;
        padding: 1.2rem 1.5rem 0;
        width: 68px;

        &__items {
            row-gap: 1.7rem;
        }

        &__icon {
            font-size: 1.3rem;
        }

        &__logo-name {
            padding-left: 0.5rem;
        }

        &__logo-name,
        &__name,
        &__subtitle,
        &__dropdown-icon {
            opacity: 0;
            transition: 0.3s;
        }

        &:hover {
            width: 220px;
        }

        &:hover &__logo-name {
            opacity: 1;
        }
        &:hover &__subtitle {
            opacity: 1;
        }
        &:hover &__name {
            opacity: 1;
        }
        &:hover &__dropdown-icon {
            opacity: 1;
        }
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__logo {
        font-weight: 600;
        margin-bottom: 2.5rem;
    }

    &__list,
    &__items {
        display: grid;
    }
    &__list {
        row-gap: 2.5rem;
    }
    &__items {
        row-gap: 1.5rem;
    }
    &__subtitle {
        font-size: $normal-font;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $text-color-light;
    }
    &__link {
        display: flex;
        align-items: center;
        color: $text-color;

        &:hover {
            color: $primary-color;
        }
    }
    &__icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }
    &__name {
        font-size: $normal-font;
        font-weight: 500;
        white-space: nowrap;
    }
    &__logout {
        margin-top: 5rem;
    }

    &__dropdown {
        overflow: hidden;
        max-height: 21px;
        transition: 0.4s ease-in-out;

        &-collapse {
            background-color: $secondary-color;
            border-radius: 0.25rem;
            margin-top: 1rem;
        }
        &-content {
            display: grid;
            row-gap: 0.5rem;
            padding: 0.75rem 2.5rem 0.75rem 1.8rem;
        }

        &-item {
            font-size: $small-font;
            font-weight: 500;
            color: $text-color;

            &:hover {
                color: $primary-color;
            }
        }
        &-icon {
            margin-left: auto;
            transition: 0.4s;
        }

        &:hover {
            max-height: 100rem;
        }

        &:hover &-icon {
            transform: rotate(180deg);
        }
    }
}

.show-menu {
    left: 0;
}
.active {
    color: $primary-color;
}
